[submodule "third_party/utfcpp"]
	path = third_party/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "ltproto"]
	path = ltproto
	url = https://github.com/pjlt/ltproto.git
[submodule "third_party/breakpad"]
	path = third_party/breakpad
	url = https://github.com/google/breakpad.git
[submodule "rtc"]
	path = rtc
	url = https://github.com/pjlt/rtc.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/transport/rtc2"]
	path = src/transport/rtc2
	url = https://github.com/numbaa/rtc2.git
[submodule "third_party/nlohmann/json"]
	path = third_party/nlohmann/json
	url = https://github.com/nlohmann/json.git
