# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build dirs, project dirs
/out
/.vscode
/.vs
/build
/install
/transport/rtc
CMakeSettings.json
options-user.cmake


# misc
draft.txt
fonts/
icons/
.VSCodeCounter

/third_party/prebuilt
/third_party/SDL
/third_party/ViGEmClient
/third_party/ffmpeg
/third_party/g3log
/third_party/googletest
/third_party/libuv
/third_party/mbedtls
/third_party/oneVPL
/third_party/opus
/third_party/protobuf
/third_party/tinyxml2