# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.zip

# build dirs, project dirs
/out
/.vscode
/.vs
/build
/install
/src/transport/rtc
/transport/rtc*
/lanthing/src/video2
CMakeSettings.json
options-user.cmake
*AppImage
CMakeLists.txt.user
/src/video2
/lanthing.rc

# misc
draft.txt
fonts/
.VSCodeCounter
.DS_Store
*.dmg
imgui.ini

/third_party/prebuilt
/third_party/SDL
/third_party/ViGEmClient
/third_party/ffmpeg
/third_party/g3log
/third_party/googletest
/third_party/libuv
/third_party/mbedtls
/third_party/oneVPL
/third_party/opus
/third_party/protobuf
/third_party/tinyxml2
