[submodule "third_party/utfcpp"]
	path = third_party/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "ltproto"]
	path = ltproto
	url = https://github.com/pjlt/ltproto.git
[submodule "third_party/breakpad"]
	path = third_party/breakpad
	url = https://github.com/google/breakpad.git
[submodule "rtc"]
	path = rtc
	url = https://github.com/pjlt/rtc.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "transport/rtc"]
	path = transport/rtc
	url = https://github.com/pjlt/rtc.git
