[Desktop Entry]
Name=lanthing
Comment=Lanthing
Exec=lanthing-app
Icon=lanthing
Type=Application
Terminal=false
Categories=Game;
Keywords=lanthing;stream;gamestream;streaming;