#define            LT_VERSION               0,3,2
#define            LT_VERSION_STR           "0.3.2"

#include "winres.h"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDB_PNG1                ICON                     "lanthing.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,0
 PRODUCTVERSION LT_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "Project Lanthing"
            VALUE "FileDescription", "Lanthing UI"
            VALUE "FileVersion", "0.0.0"
            VALUE "InternalName", "app.exe"
            VALUE "LegalCopyright", "Copyright (C) 2023 Project Lanthing All Rights Reserved"
            VALUE "OriginalFilename", "app.exe"
            VALUE "ProductName", "Lanthing"
            VALUE "ProductVersion", LT_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
