name: Build
on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]
jobs:
  Windows:
    runs-on: windows-2022
    steps:
      - name: Checkout
        with:
          submodules: true
        uses: actions/checkout@v4
      - name: Init MSVC
        uses: ilammy/msvc-dev-cmd@v1
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          aqtversion: '==3.1.*'
          version: '6.5.3'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2019_64'
      - name: Fetch prebuilt
        run: ./build.win.ps1 prebuilt fetch
      - name: Build lanthing-pc
        run: ./build.win.ps1 build Release
      - name: Run Tests
        run: |
          $Env:PATH = "${{ github.workspace }}/install/RelWithDebInfo/bin;$Env:PATH"
          cd ./build/RelWithDebInfo
          ctest -C RelWithDebInfo -V
  Linux:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        with:
          submodules: true
        uses: actions/checkout@v4
      - name: Install deps
        run: |
          sudo apt-get clean
          sudo apt-get update
          sudo apt-get -y install gcc g++ pkg-config libglib2.0-dev libx11-dev libdrm-dev libva-dev libva-drm2 libgl-dev libgles-dev libgles1 libgles2 libegl-dev libmfx-dev libvdpau-dev
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          aqtversion: '==3.1.*'
          version: '6.5.3'
          host: 'linux'
          target: 'desktop'
          arch: 'gcc_64'
      - name: Fetch prebuilt
        run: bash build.linux.sh prebuilt fetch
      - name: Build lanthing-pc
        run: |
          bash build.linux.sh build Release
  macOS:
    runs-on: macos-14
    steps:
      - name: Checkout
        with:
          submodules: true
        uses: actions/checkout@v4
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          aqtversion: '==3.1.*'
          version: '6.5.3'
          host: 'mac'
          target: 'desktop'
          arch: 'clang_64'
      - name: Fetch prebuilt
        run: bash build.mac.sh prebuilt fetch
      - name: Build lanthing-pc
        run: |
          bash build.mac.sh build Release